/* LAYOUT */
@media (min-width:1200px)     {.container {width: 970px}} /* Reduce width on big screens */
html, body                    {height: 100%;}
main                          {min-height: 100%;}
main .container               {overflow:auto; padding-bottom: 70px}
footer                        {position: relative; margin-top: -70px; height: 70px; clear:both; background: url('../images/robots.png') repeat-x center bottom}
.anchor                       {position: relative; top: -90px; display: block; visibility: hidden}
body                          {padding-top: 70px}

h4, .sidebar                  {margin-top: 20px}
h5                            {margin-top: 15px}
pre                           {margin-bottom: 25px}
dt                            {margin-top: 30px}
dt                            {margin-bottom: 3px}

.sidebar                      {padding-left: 20px}
.navbar-brand img             {height: 39px; display: inline}


/* TYPOGRAPHY */
@font-face                    {font-family: 'seconda_round_bold';    font-weight: normal; font-style: normal; src: url('../fonts/SecondaRound-Bold.eot');     src: url('../fonts/SecondaRound-Bold.eot?#iefix')     format('embedded-opentype'), url('../fonts/SecondaRound-Bold.woff') format('woff'),        url('../fonts/SecondaRound-Bold.ttf') format('truetype'),          url('../fonts/SecondaRound-Bold.svg#SecondaRound-Bold') format('svg'); }
@font-face                    {font-family: 'seconda_round_regular'; font-weight: normal; font-style: normal; src: url('../fonts/SecondaRound-Regular.eot');  src: url('../fonts/SecondaRound-Regular.eot?#iefix')  format('embedded-opentype'), url('../fonts/SecondaRound-Regular.woff') format('woff'),     url('../fonts/SecondaRound-Regular.ttf') format('truetype'),          url('../fonts/SecondaRound-Regular.svg#SecondaRound-Regular') format('svg'); }
body                          {font-family: 'seconda_round_regular',Helvetica,Arial,sans-serif}
h1, h2, .bold, .active        {font-family: 'seconda_round_bold',Helvetica,Arial,sans-serif; font-weight: normal; font-style: normal}
pre, .sidebar                 {line-height: 1.8em}
nav.navbar, h2, h1            {-webkit-font-smoothing: antialiased}

.sidebar                      {font-size: 1.3em}
dt                            {font-size: 1.1em}

/* COLORS */
.navbar-default .navbar-brand {color: #10a17c}
.navbar-default               {border-color: #10a17c; background-color: #fff}
.label.label-success          {background-color: #10a17c;}
.label.label-warning          {background-color: #c066b6;}
.label.label-danger           {background-color: #ebd55d; color: #333}
.o                            {color: #555555}
.no, .ss                      {color: #10a17c}
.s1, .s2                      {color: #306636}
.c1                           {color: #999999}
.mi                           {color: #ab650d}
